* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  background: #0f172a;
  color: #fff;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #1e293b;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* SECTIONS */
section {
  padding: 70px 20px;
  text-align: center;
}

/* SKILLS */
.skill-box {
  background: #1e293b;
  margin: 15px auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

/* PROJECTS */
.card {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  width: 320px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* EDUCATION */
.edu {
  margin: 10px;
}

/* FOOTER */
footer {
  background: #1e293b;
  padding: 20px;
}